.layout {
	@apply h-screen w-screen bg-bg-color p-3;
	.border {
		@apply h-full rounded-3xl bg-border-color  p-3;
		.content {
			@apply flex h-full rounded-3xl bg-main-bg;
			.rightSide {
				.children {
					@apply h-full overflow-x-hidden rounded-r-2xl bg-main-bg;
				}
				.open {
					@apply rounded-l-2xl;
				}
			}

			.collapseButton {
				@apply absolute left-[20%] top-10 ml-4 h-10 w-10 -translate-x-1/2 rounded-full bg-main-bg p-1.5;
				transition: all 0.9s ease;
				box-shadow: inset 2px 0px 4px rgba(0, 0, 0, 0.05);
				> button {
					@apply h-full w-full rounded-full bg-primary-light;
					filter: drop-shadow(0px -1px 0px rgba(0, 0, 0, 0.05));
					.icon {
						@apply translate-x-1/4;
					}
				}
			}

			.closed {
				@apply left-4 ml-2;
			}
		}
	}
}
